body {
}


header {

    background-color:burlywood;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 15%;
    height: auto;
}

nav {

    display: flex;
}


*, *::before, *::after {
    
    box-sizing: border-box;
}

* {

    margin: 0;
}

body {

    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}


img, picture, video, canvas, svg {

    display: block;
    max-width: 100%;
}

input, button, textarea, select {

    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {

    overflow-wrap: break-word;
}

#root, #__next {
    
    isolation: isolate;
}