#main {
    background-color:rgb(201, 121, 187);
}


header {

    background-color:rgb(201, 121, 187);
    text-align: center;
}

section {
    text-align: center;
}

/* img {
    border-radius: 50%;
    width: 10%;
    height: auto;
} */

#jerry-image-id {
    text-align: center;
    border-radius: 50%;
    width: 10%;
    height: auto;
    padding-bottom: 10px;
}

/* .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px; */
}

.card-body {
    background-color: rgb(169, 243, 233);
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 18rem;
    margin-bottom: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);

.navbar-container {

    display: flex;
    justify-content: center;
    flex: 1 1 0;
    /* align-items: center; */
    margin: 0;
}

.list-of-skills{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.skills-title {
    align-text: center;
    padding-bottom: 10px;

}

#contact {
    padding: 50px 0; /* Add padding for better spacing */
}

.social-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    margin: 0 10px; /* Adjust margin for spacing */
}

.social-icon a {
    color: #007bff;
    font-size: 24px;
    text-decoration: none; /* Remove default underline */
}
}

*, *::before, *::after {
    
    box-sizing: border-box;
}

* {

    margin: 0;
}

body {

    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}



input, button, textarea, select {

    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {

    overflow-wrap: break-word;
}

#root, #__next {
    
    isolation: isolate;
}